<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %} {% load bootstrap5 %} {% bootstrap_css %}
    {%bootstrap_javascript %} {% load sass_tags %}

    <link rel="stylesheet" href="{% sass_src 'scss/style.scss' %}" />
    <link rel="stylesheet" href="{% sass_src 'scss/common.scss' %}" />

    <title>{{app_name}} | {{page_name}}</title>
    {% block head %} {% endblock head %}
  </head>
  <body>

    <div id="root">
      {% include "base/sidebar.html" %}

      <div id="body-container">
        <div id="greeting" data-username = "{{user.get_username}}">
          <div id="greeting-message"></div>
          <div id="todayDate"></div>
        </div>

        {% if messages %}
          <div class="error-message-container">
            {% for message in messages %}
              <div class="error-message">{{ message }}</div>
            {% endfor %}
            <button class="close-error">X</button>
          </div>
        {% endif %}

        <div id="content">
          {% block body %}{% endblock body %}
        </div>
      </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>

  </body>
</html>
