{% extends "base.html" %}

{% block body %}
            {% if messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    <p><strong>Holy guacamole!</strong> {{message}}</p>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            <form action="{% url "rent:add-building" %}" method="POST">
                {% csrf_token %}

                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text building " id="inputGroup-sizing-lg">Building Name</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>


                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text building " id="inputGroup-sizing-lg">Building Address</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>

                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text building " id="inputGroup-sizing-lg">Room Count</span>
                    <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>

                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text building " id="inputGroup-sizing-lg">Building Type</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>

                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text building " id="inputGroup-sizing-lg">Remarks</span>
                    <textarea class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"></textarea>
                </div>

                <div class="justify-content-center my-4">
                    <div class="w-100 text-center">
                        <input type="submit" class='btn btn-primary w-50 building-btn' value='Submit'>
                    </div>
                </div>
            </form>
{% endblock body %}