<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% load static %}
        
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <title>
            {{app_name}} | {% block title %}{% endblock title %}
        </title>
        
        {% block head %}{% endblock head %}
    </head>
    <body>
        {% include "header.html" %}
        {% block body %}{% endblock body %}
        {% include "footer.html" %}
    </body>
</html>