{% extends "base/base.html" %} {% block body %} {% if action == 'add' %}
<form action="{% url 'rent:add-building' %}" method="POST">
  {% csrf_token %}
  <label for="building_name">
    <span >Building Name</span>
    <input id="building_name" name="building_name" type="text" required />
  </label>

  <label for="building_address"><span >Building Address</span>
    <input id="building_address" name="building_address" type="text" required /></label>

  <label for="room_count">
    <span>Room Count</span>
    <input id="room_count" name="room_count" type="number" required />
  </label>

  <label for="building_type">
    <span >Building Type</span>
    <input id="building_type" name="building_type" type="text" required />
  </label>

  <label for="remarks">
    <span >Remarks</span>
    <textarea id="remarks" name="remarks"></textarea>
  </label>

  <div id="button-group">
    <a href="{% url 'rent:home' %}">
      <button type="button">Cancel</button>
    </a>
    <button id="submit-button" type="submit" name="add" value="Add">Add</button>
  </div>
</form>

{% elif action == 'update' %}
<form action="{% url 'rent:update-building' building.uid %}" method="POST">
  {% csrf_token %}

  <label>
    <span>Building Name</span>
    <input
      name="building_name"
      type="text"
      value="{{ building.building_name }}"
    />
  </label>

  <label>
    <span>Building Address</span>
    <input
      name="building_address"
      type="text"
      value="{{ building.building_address }}"
    />
  </label>

  <label>
    <span>Room Count</span>
    <input
      name="room_count"
      type="number"
      value="{{ building.number_of_rooms }}"
    />
  </label>

  <label>
    <span>Building Type</span>
    <input
      name="building_type"
      type="text"
      value="{{ building.building_type }}"
    />
  </label>

  <label>
    <span>Remarks</span>
    <textarea
      name="remarks"
    >
    {{ building.remarks }}</textarea
    >
  </label>

  <div id="button-group">
    <a href="{% url 'rent:home' %}">
      <button type="button">Cancel</button>
    </a>
    <button id="submit-button" type="submit" name="update" value="Update">Add</button>
  </div>
</form>

{% elif action == 'delete' %}
<form action="{% url 'rent:delete-building' building.uid %}" method="POST">
  {% csrf_token %}
  <table>
    <tbody>
      <tr>
        <td><strong>Building Name</strong></td>
        <td>{{building.building_name}}</td>
      </tr>
      <tr>
        <td><strong>Building Address</strong></td>
        <td>{{building.building_address}}</td>
      </tr>
      <tr>
        <td><strong>Building Type</strong></td>
        <td>{{building.building_type}}</td>
      </tr>
      <tr>
        <td><strong>Is Available</strong></td>
        <td>{{building.is_active}}</td>
      </tr>
      <tr>
        <td><strong>Building Remarks</strong></td>
        <td>{{building.remarks}}</td>
      </tr>
    </tbody>
  </table>
  <div id="button-group" >
    <a href="{% url 'rent:home' %}">
      <button type="button" >Cancel</button>
    </a>
    <button id="submit-button" type="submit" name="delete" value="Delete" style="background: red;">Delete</button>
  </div>
</form>
{% endif %} {% endblock %}
