{% extends "base.html" %}

{% block body %}
    <form action="{% url 'rent:select-building' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="building_name" class="form-label">Select Building</label>
            <select name="building_name" id="building_name" class="form-select">
                {% for building in buildings %}
                    <option value="{{ building.uid }}">{{ building.building_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-primary w-50 building-btn" value="Select">
        </div>
    </form>
{% endblock %}
