{% extends "base.html" %}

{% block body %}
    <form action="{% url 'rent:select-building' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="action" class="form-label"><strong>Choose Action</strong>
            </label>
            <select name = 'action' class="form-select mb-3" aria-label="Default select example" required>
                <option  value="empty" disabled selected>---Select Action ---</option>
                <option value="delete">Delete</option>
                <option value="update">Update</option>
            </select>
            
            <label for="building_name" class="form-label"><strong>Select Building</strong></label>
            <select name="building_name" id="building_name" class="form-select" required>
                <option  value="empty" disabled selected>---Select Action ---</option>
                {% for building in buildings %}
                    <option value="{{ building.uid }}">{{ building.building_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-primary w-50 building-btn" value="Select">
        </div>
    </form>
{% endblock %}
