{% extends "base.html" %}

{% block body %}
    {% if action == 'add' %}
        <form action="{% url "rent:add-building" %}" method="POST">
            {% csrf_token %}

            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text building " id="inputGroup-sizing-lg">Building Name</span>
                <input name='building_name' type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>


            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text building " id="inputGroup-sizing-lg">Building Address</span>
                <input name='building_address' type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>

            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text building " id="inputGroup-sizing-lg">Room Count</span>
                <input name='room_count' type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>

            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text building " id="inputGroup-sizing-lg">Building Type</span>
                <input name='building_type' type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>

            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text building " id="inputGroup-sizing-lg">Remarks</span>
                <textarea name='remarks' class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"></textarea>
            </div>

            <div class="justify-content-center my-4">
                <div class="w-100 text-center">
                    <input type="submit" class='btn btn-primary w-50 building-btn' value='Submit'>
                </div>
            </div>
        </form>
    {% elif action == 'update' %}
        <form action="{% url 'rent:update-building' building.uid %}" method="POST">
            {% csrf_token %}
            
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text building" id="inputGroup-sizing-lg">Building Name</span>
                <input name="building_name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="{{ building.building_name }}">
            </div>

            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text building" id="inputGroup-sizing-lg">Building Address</span>
                <input name="building_address" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="{{ building.building_address }}">
            </div>

            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text building" id="inputGroup-sizing-lg">Room Count</span>
                <input name="room_count" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="{{ building.number_of_rooms }}">
            </div>

            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text building" id="inputGroup-sizing-lg">Building Type</span>
                <input name="building_type" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="{{ building.building_type }}">
            </div>

            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text building" id="inputGroup-sizing-lg">Remarks</span>
                <textarea name="remarks" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">{{ building.remarks }}</textarea>
            </div>

            <div class="justify-content-center my-4">
                <div class="w-100 text-center">
                    <input type="submit" class="btn btn-primary w-50 building-btn" value="Update">
                </div>
            </div>
        </form>
    {% elif action == 'delete' %}
        <form action="{% url 'rent:delete-building' building.uid %}" method="POST">
            {% csrf_token %}
            
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text building" id="inputGroup-sizing-lg">Building Name</span>
                <input name="building_name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="{{ building.building_name }}">
            </div>

            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text building" id="inputGroup-sizing-lg">Building Address</span>
                <input name="building_address" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="{{ building.building_address }}">
            </div>

            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text building" id="inputGroup-sizing-lg">Room Count</span>
                <input name="room_count" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="{{ building.number_of_rooms }}">
            </div>

            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text building" id="inputGroup-sizing-lg">Building Type</span>
                <input name="building_type" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="{{ building.building_type }}">
            </div>

            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text building" id="inputGroup-sizing-lg">Remarks</span>
                <textarea name="remarks" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">{{ building.remarks }}</textarea>
            </div>

            <div class="justify-content-center my-4">
                <div class="w-100 text-center">
                    <input type="submit" class="btn btn-primary w-50 building-btn" value="Delete">
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
