{% extends "base/base.html" %}
{% block body %}

  <form action="{% url 'rent:select-building' %}" method="POST">
    {% csrf_token %}
        <label for="action" ><span>Choose Action</span>
          <select id="action" name="action"  required>
              <option value="empty" disabled selected>---Select Action---</option>
              <option value="add">Add</option>
              <option value="delete">Delete</option>
              <option value="update">Update</option>
          </select>
        </label>
        
        <div id="building-select-container" style="display: none;">
            <label for="building_name" ><span>Select Building</span>
            <select name="building_name" id="building_name" required>
                <option value="empty" disabled selected>---Select Building---</option>
                {% for building in buildings %}
                    <option value="{{ building.uid }}">{{ building.building_name }}</option>
                {% endfor %}
            </select>
            </label>
        </div>

        <div id="button-group">
          <a href="{% url 'rent:home' %}" ><button type="button">Cancel</button></a>
          <button id="submit-button" type="submit" value="Select">Select</button>
        </div>
    </form>
{% endblock %}
