{% extends "base/base.html" %}
{% block title %}
    {{page_name}}
{% endblock title %}
{% block body %}
    <form action="{% url "rent:backup-action" %}" method="POST">
        {% csrf_token %}
        <label for="action">
            <span>Select Action</span>
            <select id = 'action' name = 'action' required>
                <option selected value = None disabled selected>---- Select Action ----</option>
                <option value = 'backup'>---- Add Backup ----</option>
                <option value = 'restore'>---- Restore Backup ----</option>
            </select>
        </label>
        <button id="submit-button" type="submit" value="Select">Select</button>
    </form>
    
{% endblock body %}