{% extends 'base.html' %}
{% block title %}
    {{page_name}}
{% endblock title %}

{% block body %}
    <div class="container text-center">
        <div class="row g-2">
            <div class="col-6">
                <div class="p-3">Custom column padding</div>
            </div>
            <div class="col-6">
                <div class="p-3">Custom column padding</div>
            </div>
            <div class="col-6">
                <div class="p-3">Custom column padding</div>
            </div>
            <div class="col-6">
                <div class="p-3">Custom column padding</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
    </div>


    <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
      
      <div class="card w-50">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
    </div>

    <select class="form-select" aria-label="Default select example">
        <option selected value = None>---- Select Month ----</option>
        {% for month_id,month_name in months.items %}
            <option value={{month_id}}>{{month_name}}</option>
        {% endfor %}
    </select>

    {% comment %} <div class="dropdown-center">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Centered dropdown
        </button>
        <ul class="dropdown-menu">
            {% for month in months %}
            <li>{{month}}</li>
          {% endfor %}
        </ul>
      </div> {% endcomment %}
{% endblock body %}