<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load sass_tags %}
    
    <link rel="stylesheet" href="{% sass_src 'scss/style.scss' %}" />
    <title>login</title>
  </head>
  <body>
    
    <div class="login-form-container">
      {% if messages %}
        <div class="error-message-container">
          
          {% for message in messages %}
            <div class="error-message">{{ message }}</div>
          {% endfor %}
          <button class="close-error">X</button>
        </div>
      {% endif %}

    <form action="{% url "rent:login" %}" method="post">
      {% csrf_token %}
      <label for="username">
        <span>Username</span>
        <input type="text" name="username" id="username" required>
      </label>
      
      <label for="password">
        <span>Password</span>
        <input type="password" name="password" id="password" required>
      </label>
      <button type="submit">Login</button>
    </form>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".close-error").forEach(function (btn) {
          btn.addEventListener("click", function () {
            this.parentElement.style.display = "none";
          });
        });
      });
    </script>
  </body>
</html>