{% extends "base/base.html" %}

{% block body %}
    {% if building_selected %}
    <div style="font-size: 1.5rem; font-weight: 750;">Rent for: {{building_selected.building_name}}</div>
    {% endif %}

    <form action="{% url "rent:add-rent" %}" method="get">
        {% csrf_token %}
        <label for="building">
            <span>Select building</span>
            <select id = 'building' name = 'building' style="width:48%" required>
                <option selected value = "None" disabled>---- Select building ----</option>
                {% for building in buildings %}
                    <option value={{building.uid}}>{{building.building_name}}</option>
                {% endfor %}
            </select>
            <button id="submit-button" style="height:100%">Search</button>
        </label>
    </form>
            
    <form action="{% url "rent:add-rent" %}" method="POST">
        {% csrf_token %}   
        <input type="hidden" name="building_uid" value={{building_uid}}>  
        <label for="room">
            <span >Select Room</span>
            <select id = 'room' name = 'room' required>
                <option selected value = "None" disabled>---- Select Room ----</option>
                {% for room in rooms %}
                    <option value={{room.uid}}>{{room.room_name}}</option>
                {% endfor %}
            </select>
        </label>

        <label for="date"><span>Date</span>
            <input id="date" type="date" name = "date" required>
        </label>

        <label for="amount">
            <span>Recieved Amount</span>
            <input type="number" name="amount" id="amount" required>
        </label>

        <label for="remarks">
            <span >Remarks</span>
            <textarea id="remarks" name = 'remarks'></textarea>
        </label>
        <button type="submit" id="submit-button">Submit</button>
    </form>
{% endblock body %}


