{% extends "base/base.html" %}

{% block body %}
            
    <form action="{% url "rent:add-rent" %}" method="POST">
        {% csrf_token %}     
        <label for="room">
            <span >Select Room</span>
            <select id = 'room' name = 'room' required>
                <option selected value = "None" disabled>---- Select Room ----</option>
                {% for room in rooms %}
                    <option value={{room.uid}}>{{room.room_name}}</option>
                {% endfor %}
            </select>
        </label>

        <label for="date"><span>Date</span>
            <input id="date" type="date" name = "date" required>
        </label>

        <label for="amount">
            <span>Recieved Amount</span>
            <input type="number" name="amount" id="amount" required>
        </label>

        <label for="remarks">
            <span >Remarks</span>
            <textarea id="remarks" name = 'remarks'></textarea>
        </label>
        <button type="submit" id="submit-button">Submit</button>
    </form>
{% endblock body %}


