{% extends "base/base.html" %}

{% block title %}
    {{page_name}}
{% endblock title %}

{% block body %}
<form action="{% url "rent:view-rent" %}" method="POST">
    {% csrf_token %}

    <label for="room"><span >Select Room</span>
        <select id = 'room' name = 'room' required>
            <option selected value = "None" disabled>---- Select Room ----</option>
            {% for room in rooms %}
                <option value={{room.uid}}>{{room.room_name}}</option>
            {% endfor %}
        </select>
    </label>

    <label for="month">
        <span >Current Month</span>
        <select id = 'month' name = 'month' required>
            <option selected value = "None" disabled>---- Select Month ----</option>
                {% for month_id,month_name in months.items %}
                    <option value={{month_id}}>{{month_name}}</option>
                {% endfor %}
        </select>
    </label>

    <button>Submit</button>
</form>
<div>
    {% if histories%}
        <table>
            <thead>
                <tr>
                    <th>Room</th>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for history in histories %}
                <tr>
                    <td>{{ history.room_no }}</td>
                    <td>{{ history.recieved_year }}</td>
                    <td>{{ history.recieved_month }}</td>
                    <td>{{ history.recieved_amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
</div>  

{% endblock body %}