{% extends "base/base.html" %}

{% block title %}
    {{page_name}}
{% endblock title %}

{% block body %}
<form action="{% url "rent:view-rent" %}" method="get">
    {% csrf_token %}
    <label for="building">
        <span>Select building</span>
        <select id = 'building' name = 'building' style="width:48%" required>
            {% if not building_name %}
                <option selected value = "None" disabled>---- Select building ----</option>
            {% else %}
            <option selected value = {{building_name.uid}} active>{{building_name.building_name}}</option>
            {% endif %}

            {% for building in buildings %}
                <option value={{building.uid}}>{{building.building_name}}</option>
            {% endfor %}
        </select>
        <button id="submit-button" style="height:100%">Search</button>
    </label>
</form>

<form action="{% url "rent:view-rent" %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="building_name" value={{building_name.uid}}>
    <label for="room"><span >Select Room</span>
        <select id = 'room' name = 'room' required>
            {% if not room_name %}
                <option selected value = "None" disabled>---- Select Room ----</option>
            {% else %}
                <option selected value = {{room_name.uid}} active>{{room_name.room_name}}</option>
            {% endif %}
            {% for room in rooms %}
                <option value={{room.uid}}>{{room.room_name}}</option>
            {% endfor %}
        </select>
    </label>

    <button id="submit-button">Submit</button>
</form>

{% if histories%}
<div style="width:70%;">
    <div style="font-size:2rem; font-weight:750; text-align:center;">{{building_name.building_name}}, {{room_name.room_name}}</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Room</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            {% for history in histories %}
            <tr>
                <td>{{ history.room_no }}</td>
                <td>{{ history.received_amount }}</td>
                <td>{{ history.date }}</td>
                <td>{{ history.remarks }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock body %}