$primary-bg: #FFFDF0;
$secondary-bg: #e6e4e9;
$small-curve: 8px;
$larger-curve: 14px;
$small-padding: 0.2rem 1rem;
$border: 2px solid black;
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(0deg,#ffce00, #00baff);
  height: 100vh;
}
#root{
  background: transparent;
  display: flex;
  flex-direction: row;
  height: 100%;
  width:100%;
}
sidebar{
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 1rem ;
  background-color: $primary-bg;
  border-radius: $larger-curve;
  border: $border;
  padding: 1rem 2rem;
}
#title{
  color: black;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: $small-curve;
}
#user{
  color:white;
  background-color: #351750;
  border-radius: $small-curve;
  border: $border;
  padding: $small-padding;
  margin: 1rem 0;
}
#navigation{
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}
#navigation a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.nav-item{
  padding: $small-padding;
  border-radius: $small-curve;
}
#navigation form{
  margin-top: auto;
  padding: 0;
}
#navigation form>button{
  width: 100%;
  border: $border;
  border-radius: $small-curve;
  background-color: $secondary-bg;
  font-weight: 500;
    &:hover {
    transform: scale(1.04);
  }
}

#body-container{
  background-color: $secondary-bg;
  margin: 1rem;
  border: $border;
  border-radius: $larger-curve;
  flex: 1;
  display: flex;
  flex-direction: column;
}
#greeting{
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 3rem;
}
#content{
  flex:1;
  border:$border;
  background-color: $primary-bg;
  margin: 1.2rem;
  border-radius: $small-curve;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}

.login-form-container{
  background-color: $secondary-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 100vh;
}
.login-form-container form{
  background: $primary-bg;
  border-radius: $larger-curve;
  border: $border;
  margin: 2rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form-container label{
  position: relative;
  margin: 1rem;
}
.login-form-container span{
  position: absolute;
  border: $border;
  border-radius: $small-curve;
  bottom: 70%;
  left: 9%;
  background-color: $primary-bg;
  padding: 0 1rem;
}
.login-form-container input{
  border-radius: $small-curve;
  border: $border;
  height: 2.7rem;
  width: 100%;
  background-color: $primary-bg;
  font-size: 1rem;
  padding: 0 1rem;
}
.login-form-container form button{
  background-color: $primary-bg;
  border: $border;
  border-radius: $small-curve;
  padding: 0 3rem;
}

.error-message-container{
  color: red;
  background-color: #f8b9b4;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap:1rem;
}
.error-message{
  flex-wrap: wrap;
  margin-left: 1rem;
}
.close-error{
  background: red;
  border: 2px solid red;
  color: white;
  margin:5px
}